Client/Connected Services/InterestCalculatorServiceReference/InterestCalculations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InterestCalculations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62737/InterestCalculations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62737/InterestCalculations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62737/InterestCalculations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InterestCalculator" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInterestCalculations_SimpleInterest_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleInterest" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_SimpleInterest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleInterestResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_SimplePlusPrincipalInterest_InputMessage">
    <wsdl:part name="parameters" element="tns:SimplePlusPrincipalInterest" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_SimplePlusPrincipalInterest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimplePlusPrincipalInterestResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_CompoundInterest_InputMessage">
    <wsdl:part name="parameters" element="tns:CompoundInterest" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_CompoundInterest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompoundInterestResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_PeriodicCompoundInterest_InputMessage">
    <wsdl:part name="parameters" element="tns:PeriodicCompoundInterest" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_PeriodicCompoundInterest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PeriodicCompoundInterestResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_CalculateAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateAll" />
  </wsdl:message>
  <wsdl:message name="IInterestCalculations_CalculateAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IInterestCalculations">
    <wsdl:operation name="SimpleInterest">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestCalculations/SimpleInterest" message="tns:IInterestCalculations_SimpleInterest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestCalculations/SimpleInterestResponse" message="tns:IInterestCalculations_SimpleInterest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimplePlusPrincipalInterest">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestCalculations/SimplePlusPrincipalInterest" message="tns:IInterestCalculations_SimplePlusPrincipalInterest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestCalculations/SimplePlusPrincipalInterestResponse" message="tns:IInterestCalculations_SimplePlusPrincipalInterest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompoundInterest">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestCalculations/CompoundInterest" message="tns:IInterestCalculations_CompoundInterest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestCalculations/CompoundInterestResponse" message="tns:IInterestCalculations_CompoundInterest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PeriodicCompoundInterest">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestCalculations/PeriodicCompoundInterest" message="tns:IInterestCalculations_PeriodicCompoundInterest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestCalculations/PeriodicCompoundInterestResponse" message="tns:IInterestCalculations_PeriodicCompoundInterest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestCalculations/CalculateAll" message="tns:IInterestCalculations_CalculateAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestCalculations/CalculateAllResponse" message="tns:IInterestCalculations_CalculateAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInterestCalculations" type="tns:IInterestCalculations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SimpleInterest">
      <soap:operation soapAction="http://tempuri.org/IInterestCalculations/SimpleInterest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimplePlusPrincipalInterest">
      <soap:operation soapAction="http://tempuri.org/IInterestCalculations/SimplePlusPrincipalInterest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompoundInterest">
      <soap:operation soapAction="http://tempuri.org/IInterestCalculations/CompoundInterest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PeriodicCompoundInterest">
      <soap:operation soapAction="http://tempuri.org/IInterestCalculations/PeriodicCompoundInterest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAll">
      <soap:operation soapAction="http://tempuri.org/IInterestCalculations/CalculateAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterestCalculations">
    <wsdl:port name="BasicHttpBinding_IInterestCalculations" binding="tns:BasicHttpBinding_IInterestCalculations">
      <soap:address location="http://localhost:62737/InterestCalculations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>