Client/Connected Services/InterestCalculatorServiceReference/InterestCalculations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InterestCalculator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InterestCalculator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AllInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompoundInterestValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeriodicCompoundInterestValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="SimpleInterestValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="SimplePlusPrincipalInterestValue" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllInterest" nillable="true" type="tns:AllInterest" />
</xs:schema>